@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CompanyHub</h1>
    <a asp-action="Index" asp-controller="Employee" class="btn btn-primary">Accéder à l'annuaire</a>
</div>