@model CompanyHub.Models.Login

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Login</h2>

<form method="post">
    <input class="form-control" type="text" name="Email" placeholder="username"/>
    <input class="form-control" type="password" name="Password" placeholder="password"/>
    <br/>
    <input class="btn btn-primary" type="submit" value="Login"/>
</form>